<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Canciones</ion-title>
  </ion-toolbar>
</ion-header>

<div class="toggle-button-wrapper">
  <ion-button fill="clear" size="small" color="dark" (click)="closeModal()">
    Volver
  </ion-button>
</div>
<ion-content class="ion-padding">
  <div class="artist-header">
    <img [src]="artist.image" alt="Imagen del artista" class="artist-image" />
    <h2 class="artist-name">{{ artist.name }}</h2>
  </div>

  <ion-list *ngIf="tracks && tracks.length > 0">
    <ion-item *ngFor="let song of tracks">
      <ion-label>
        <h3>{{ song.name }}</h3>
        <p>{{ song.duration_ms / 1000 }}s</p>
      </ion-label>
      <ion-button size="small" fill="outline" color="success" slot="end" (click)="selectSong(song)">
        Seleccionar
      </ion-button>
    </ion-item>
  </ion-list>

  <ion-text *ngIf="tracks.length === 0" color="medium">
    <p>No hay canciones disponibles para este artista.</p>
  </ion-text>
</ion-content>