<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Canciones</ion-title>
    <!-- <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="artist-header">
    <img [src]="artist.image" alt="Imagen del artista" class="artist-image" />
    <h2 class="artist-name">{{ artist.name }}</h2>
  </div>

  <ion-list *ngIf="tracks && tracks.length > 0">
    <ion-item *ngFor="let song of tracks">
      <ion-label>
        <h3>{{ song.name }}</h3>
        <p>{{ song.duration_ms / 1000 }}s</p>
      </ion-label>
      <audio controls slot="end" style="width: 120px">
        <source [src]="song.preview_url" type="audio/mpeg" />
        Tu navegador no soporta audio.
      </audio>
    </ion-item>
  </ion-list>

  <ion-text *ngIf="tracks.length === 0" color="medium">
    <p>No hay canciones disponibles para este artista.</p>
  </ion-text>
</ion-content>