<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <figure>
    <img src="assets/images/musica-1.jpg" alt="Imagen de música" />
  </figure>

  <form [formGroup]="loginForm" (ngSubmit)="submit()">
    <!-- Email -->
    <ion-item>
      <ion-input formControlName="email" label="Correo electrónico" labelPlacement="stacked"
        placeholder="Digite su correo" type="email">
      </ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="email.invalid && (email.dirty || email.touched)">
      <p *ngIf="email.errors?.['required']">El correo es obligatorio.</p>
      <p *ngIf="email.errors?.['email']">Debe ingresar un correo válido.</p>
    </ion-text>

    <!-- Password -->
    <ion-item>
      <ion-input formControlName="password" type="password" label="Contraseña" labelPlacement="stacked"
        placeholder="Digite su contraseña">
      </ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="password.invalid && (password.dirty || password.touched)">
      <p *ngIf="password.errors?.['required']">La contraseña es obligatoria.</p>
    </ion-text>

    <ion-button expand="full" shape="round" color="success" type="submit">
      Ingresar
    </ion-button>
  </form>
</ion-content>