 :root {
     --bg-claro: #e5e7eb;
     --bg-claro-2: #F9FAFB;
     --bg-oscuro: #111827;
     --color-border-card: rgba(0, 0, 0, .1);
     --primary-color: #1db954; // color tipo Spotify
     --accent-color: #191414;
     --background-color: #e5e7eb;
     --danger-color: #ff4d4d;
     --text-color: #222;
     --label-color: #555;
 }