<ion-header translucent="true">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">
      Bienvenido a MusicApp
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <swiper-container pagination="true" loop="true" slides-per-view="1" style="width: 100%; height: 100%;">
    <swiper-slide *ngFor="let item of slides">
      <div class="slide-content">
        <ion-icon [name]="item.icon" class="slide-icon"></ion-icon>
        <h2>{{ item.title }}</h2>
        <p>{{ item.subtitle }}</p>
        <ion-button *ngIf="item.final" expand="block" shape="round" color="success" (click)="goLogin()">
          <ion-icon name="arrow-forward-outline"></ion-icon>
          Empezar
        </ion-button>
      </div>
    </swiper-slide>
  </swiper-container>
</ion-content>