<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center" size="small">Tus artistas favoritos</ion-title>
    <!-- <ion-buttons slot="end">
      <ion-button shape="round" size="small" [color]="colorTheme == 'var(--bg-claro-2)' ? 'light' : 'light'"
        (click)="changeTheme()">
        <ion-icon slot="icon-only" [name]="theme == 'claro' ? 'moon-outline' : 'sunny-outline'"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [style.background]="colorTheme">

  <!-- MODO SWIPER -->
  <div class="toggle-button-wrapper">
    <ion-button fill="clear" size="small" color="dark" (click)="toggleView()">
      {{ showAll ? 'Reducir' : 'Mostrar todos' }}
    </ion-button>
  </div>
  <swiper-container *ngIf="!showAll" slides-per-view="2.3" space-between="16" loop="true" style="padding: 1rem 0;">

    <swiper-slide *ngFor="let artist of artists" class="artist-slide" (click)="showSongsByArtist(artist)">
      <!-- <swiper-slide *ngFor="let artist of artists" class="artist-slide"> -->
      <div class="artist-card">
        <div class="artist-img-wrapper">
          <img [src]="artist.image" />
          <ion-button fill="solid" color="success" shape="round" class="play-button" size="small">
            <ion-icon slot="icon-only" name="play"></ion-icon>
          </ion-button>
        </div>
        <div class="artist-info">
          <h3>{{ artist.name }}</h3>
          <span>Artista</span>
        </div>
      </div>
    </swiper-slide>
  </swiper-container>

  <!-- MODO GRID -->
  <div *ngIf="showAll" class="grid-wrapper">
    <div class="artist-card" *ngFor="let artist of artists" (click)="showSongsByArtist(artist)">
      <!-- <div class="artist-card" *ngFor="let artist of artists"> -->
      <div class="artist-img-wrapper">
        <img [src]="artist.image" />
        <ion-button fill="solid" color="success" shape="round" class="play-button" size="small">
          <ion-icon slot="icon-only" name="play"></ion-icon>
        </ion-button>
      </div>
      <div class="artist-info">
        <h3>{{ artist.name }}</h3>
        <span>Artista</span>
      </div>
    </div>
  </div>

</ion-content>