ion-card {
  background-color: white;
  border-color: --color-border-card;
}

.encabezado {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

// ion-card-title {
//   border: solid 1;
//   border-bottom: rgba(0, 0, 0, .1);
// }