<ion-header>
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <figure>
    <img src="assets/images/usuario.png" alt="Imagen de música" />
  </figure>

  <form [formGroup]="registerForm" (ngSubmit)="submit()">
    <!-- Nombre -->
    <ion-item>
      <ion-input formControlName="name" label="Nombre" labelPlacement="stacked" placeholder="Nombre completo">
      </ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="name.invalid && (name.dirty || name.touched)">
      <p *ngIf="name.errors?.['required']">El nombre es obligatorio.</p>
    </ion-text>

    <!-- Apellido -->
    <ion-item>
      <ion-input formControlName="username" label="Usuario" labelPlacement="stacked" placeholder="Digite  usuario">
      </ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="username.invalid && (username.dirty || username.touched)">
      <p *ngIf="username.errors?.['required']">El apellido es obligatorio.</p>
    </ion-text>
    <ion-item>
      <ion-input formControlName="email" label="Correo electrónico" labelPlacement="stacked"
        placeholder="ejemplo@correo.com" type="email">
      </ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="email.invalid && (email.dirty || email.touched)">
      <p *ngIf="email.errors?.['required']">El correo es obligatorio.</p>
      <p *ngIf="email.errors?.['email']">Debe ingresar un correo válido.</p>
    </ion-text>
    <ion-item>
      <ion-input formControlName="password" type="password" label="Contraseña" labelPlacement="stacked"
        placeholder="Contraseña">
      </ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="password.invalid && (password.dirty || password.touched)">
      <p *ngIf="password.errors?.['required']">La contraseña es obligatoria.</p>
    </ion-text>
    <ion-button expand="block" shape="round" color="primary" type="submit" [disabled]="!this.registerForm.valid">
      Registrarse
    </ion-button>
    <ion-button expand="block" shape="round" fill="clear" (click)="goToLogin()">
      ¿Ya tienes cuenta? Inicia sesión
    </ion-button>
  </form>
</ion-content>